@import './variables_dark';
@import './mixins.scss';

body {
  color: rgb(158, 146, 133);
  font-family: sans-serif;
}

.app {
  @include flex-row-wrap;
  width: 600px;
  justify-content: space-around;
  box-shadow: $shadow;
  background-color: lighten($gray, 5%);
  min-height: 600px;
  padding: 18px 12px 32px;
}
