@import './variables';
@import './mixins.scss';

body {
  color: $darkgray;
  font-family: sans-serif;
}

.app {
  @include flex-row-wrap;
  width: 600px;
  justify-content: space-around;
  box-shadow: $shadow;
  background-color: $white;
  min-height: 600px;
  padding: 18px 12px 32px;
}
