%cell {
  flex: 1;
  margin: 1px;
  border: solid rgb(39, 39, 39) 1px;
}

.board {
  display: flex;
  flex-direction: column;
  margin: auto;

  &.large {
    width: 300px;
    height: 600px;
  }

  &.ghost {
    width: 90px;
    height: 180px;
    border: solid 1px gray;
  }

  .row {
    flex: 1;
    display: flex;
    flex-direction: row;

    .cell0 {
      @extend %cell
    };

    .cell1 {
      @extend %cell;
      background-color: blue;
    };

    .cell2 {
      @extend %cell;
      background-color: red;
    };

    .cell3 {
      @extend %cell;
      background-color: yellow;
    };

    .cell4 {
      @extend %cell;
      background-color: purple;
    };

    .cell5 {
      @extend %cell;
      background-color: orange;
    };

    .cell6 {
      @extend %cell;
      background-color: green;
    };

    .cell7 {
      @extend %cell;
      background-color: pink;
    };
  }
}
