@import './variables_dark.scss';

.buttons {
  flex-basis: 100%;
  text-align: center;
  padding: 5px;
  margin: 5px;

  button {
    border-radius: 2px;
    background-color: rgb(180, 60, 16);
    border: 1px solid darken(orangered, 25%);
    min-width: 36px;
    padding: 8px 14px;
    margin: auto 6px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: monospace;

    &:disabled {
      box-shadow: none;
      background-color: #333;
      border-color: darken(#333, 15%);
      cursor: auto;
    }
  }
}