@import './variables_dark.scss';
@import './board.scss';

.ghostBoard {
  @extend %board;
  width: 90px;
  height: 180px;
  padding: 3px;
  border-radius: 2px;
  border: 1px solid $black;

  &.dead {
    background-color: lighten($black, 10%)
  }

  > p {
    text-align: center;

    &.dead {
      color: $white;
    }
  }

  .ghostRow {
    @extend %row;

    &:nth-child(20) {
      border-bottom: 1px solid $black;
    }

    .ghostCell {
      @extend %cell;
      margin: 0;
      border: none;
      border-top: 1px solid $black;
      border-right: 1px solid $black;

      &:first-child {
        border-left: 1px solid $black;
      }
    }

    .cell8 {
      @extend %cell;
      visibility: hidden;
    }

    .cell0 {
      @extend %cell;
    }

    .cell1 {
      @extend %cell;
      background-color: gray;
    }
  }
}